<!DOCTYPE html>

<head>
 <meta charset="utf-8" />
 <script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
 </script>
 <script>

 function latlong()
 { 
 var address = document.getElementById("address").value;
 var geocoder = new google.maps.Geocoder();

 geocoder.geocode( { 'address': address}, function(results, status) {
  if (results=="")
   { alert("Location you entered was not found");
   document.getElementById("address").focus();}
  else
  var location = results[0].geometry.location;

  document.getElementById("latitude").value=location.lat();
  document.getElementById("longitude").value=location.lng();
});
}
</script>
</head>




<%= form_for(@colleague, :html => {:multipart => true}) do |f| %>
<% if @colleague.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@colleague.errors.count, "error") %> prohibited this colleague from being saved:</h2>

  <ul>
    <% @colleague.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>



<table>
  <tr>
    <td><font size="3px">Name : </font></td>
    <td> <%= f.text_field :name , :required => true %></td>
  </tr>

  <tr>
    <td><font size="3px">Role : </font></td>
    <td> <%= f.text_field :role , :required => true %></td>
  </tr>

  <tr>
    <td> <font size="3px">Location : </font></td>
    <td> <%= f.text_field :location, :required => true,:id=>"address", :onChange =>
    "latlong();" %></td>
  </tr>
  <tr>
    <td> <font size="3px">Project : </font></td>
    <td> <%= f.text_field :project , :required => true %></td>
  </tr>

  <tr>
    <td><font size="3px">Contact Number :</td>
    <td> <%= f.text_field :contactnum %></td>
  </tr>

  <tr>
    <td><font size="3px">Email ID :</td>
    <td> <%= f.text_field :email %></td>
  </tr>

  <tr>
    <td><font size="3px">Attach Picture :</td>
    <td> <%= f.file_field :attachment %></td>
  </tr>
   <tr>
    <td> <%= f.hidden_field :latitude ,:id=>"latitude", :required => true ,:readonly => true%></td>
    <td> <%= f.hidden_field :longitude ,:id=>"longitude", :required => true ,:readonly => true%></td>
  </tr>
</table>
<br/>
<%= f.submit "Save", :class=> 'btn btn-primary' %>

<%= link_to 'Back', colleagues_path, :class=> 'btn' %>

<br/>
<br/>
</div>

<% end %>

<br/>
<br/>
<br/>