<%= form_for(@colleague, :html => {:multipart => true}) do |f| %>
<% if @colleague.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@colleague.errors.count, "error") %> prohibited this colleague from being saved:</h2>

  <ul>
    <% @colleague.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>




<table>
  <tr>
    <td> <div class="field"><font size="3px">Name :</font></td>
    <td>  <%= f.text_field :name , :required => true %></td>
  </tr>
  <tr>
    <td> <font size="3px">Location : </font></td>
    <td> <%= f.text_field :location, :required => true %></td>
  </tr>
  <tr>
    <td> <font size="3px">Project : </font></td>
    <td>  <%= f.text_field :project , :required => true %></td>
  </tr>
  <tr>
    <td><font size="3px">Contact Number :</td>
    <td>  <%= f.text_field :contactnum %></td>
  </tr>
  <tr>
    <td><font size="3px">Email ID :</td>
    <td>  <%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><font size="3px">Attach Picture :</td>
    <td> <%= f.file_field :attachment %></td>
  </tr>
</table>
<br/>
 <%= f.submit "Save", :class=> 'btn btn-primary' %>

   <%= link_to 'Back', colleagues_path, :class=> 'btn' %>

<br/>
<br/>
</div>

<% end %>

<br/>
<br/>
<br/>