<%= form_for(@colleague) do |f| %>
  <% if @colleague.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@colleague.errors.count, "error") %> prohibited this colleague from being saved:</h2>

      <ul>
      <% @colleague.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
