<!DOCTYPE html>
<html>
<head>
<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>

<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>

</body>
</html>

<h1>Colleagues</h1>


  <div style="height: 50px">
  </div>

<table class="table table-hover" style="width: 700px ">
     <thead> 
      <tr>
       
          <td style=" padding-right: 5px; padding-left: 5px;width: 200px "> </td>
          <td style=" padding-right: 5px; padding-left: 5px;width: 100px "><font size="3"><b>Name </b></font></td>
          <td style=" padding-right: 5px; padding-left: 5px;width: 100px"><font size="3"><b>Location </b></font></td>
          <td style=" padding-right: 5px; padding-left: 5px;width: 100px "><font size="3"><b>Project </b></font></td>
          <td style=" padding-right: 5px; padding-left: 5px;width: 50px "> </td>
          <td> </td>

      </tr>
     </thead>
      <tbody>
   <% @colleagues.each do |colleague| %>
      <tr>
        <%  if colleague.attachment.blank? %>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px ">Not Available</td>
          <% else %>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px " align="center">  <%= image_tag colleague.attachment.url(:small) %></td>
          <% end %>
          
          <td style=" padding-right: 5px; padding-left: 5px; width: 50px"><%= link_to colleague.name, colleague %></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><%= colleague.location %></td>

          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><%= colleague.project %></td>

          

           <td style=" padding-right: 5px; padding-left: 5px;  "><b><%= link_to(image_tag("edit.png", :border => 0) , edit_colleague_path(colleague) )%></b></td>

           <td style=" padding-right: 5px; padding-left: 5px;  "><b><%= link_to(image_tag("destroy.png", :border => 0), colleague, confirm: 'Are you sure?', method: :delete )%></b></td>

           <% end %>


      </tr>       
      </tbody>
    </table>

<br />

<%= link_to 'New Colleague', new_colleague_path , :class=> 'btn  btn-custom' %>
