<div style="display: inline-block; margin-right:800px">
  <%= link_to image_tag("icon_map.png"), map_colleagues_path , title: 'AppDev Map', rel: 'tooltip' %>
  <%= link_to image_tag("icon_list_selected.png"), colleagues_path , title: 'Colleagues List', rel: 'tooltip' %>
  
</div>




<div class="hr"></div>
</div>

    
<table class="index_table" id="index_table" style="display: none width:800px;">
     <thead>
      <tr> 
     <th></th>
     <th></th>
     <th></th>
     <th></th>
     <th></th>
     
   </tr>
     </thead>
      <tbody>
   
   <% @colleagues.each do |colleague| %>
      <tr >
      
          <td width="10%"><%= image_tag colleague.attachment.url(:thumb) %></td>
          <td><%= link_to colleague.name, colleague %><br/>
           <%= colleague.project %><br/>
           <%= colleague.location %><br/>
           
         </td>
         <td>E-mail<br/>
           Office<br/>
          Mobile<br/>
         </td>
          
          <td width="5%"><b><%= link_to(image_tag("edit2.png", :border => 0) , edit_colleague_path(colleague) )%></b></td>
          <td width="5%"><b><%= link_to(image_tag("remove2.png", :border => 0), colleague, confirm: 'Are you sure?', method: :delete )%></b></td>
 </tr>

           <% end %>


            
  </tbody>
    </table>
    <br />
<%= link_to(image_tag("add2.png", :border => 0) , new_colleague_path )%>
<br/>
<br/>
<br/>
</div>
<br/>
<br/>
</div>
<br/>
<br/>
<br/>