<%= link_to image_tag("icon_map.png",  :alt => "View Map"),  map_colleagues_path %>
<%= link_to image_tag("icon_list_selected.png", :alt => "Manage Colleagues"), colleagues_path %>




<div class="hr"></div>
</div>
<div class="list_content">

 <%= paginate @colleagues %>
 <table border="0">
   <thead> 

   </thead>
   <tbody>
     <% @colleagues.each do |colleague| %>
     <tr >


       <tr>
        <%  if colleague.attachment.blank? %>
          <td style="width:200px" >  <%= image_tag ("missing-small.png") %></td>
        <% else %>
          <td style="width:200px" >  <%= image_tag colleague.attachment.url(:small) %></td>
        <% end %>
        
        <td style=" padding-right: 5px; padding-left: 5px; width: 200px"><b>
          <FONT COLOR=ORANGE SIZE=4>
          <%= colleague.name %></b></FONT><br/>
          <%= colleague.role %><br/>
          <%= colleague.project %><br/>


          

        </td>


        <td style="min-width:100px">
          <br/><br/>
          <b>Office Location : </b><%= colleague.location %><br/>
          <b>E-mail : </b><%= colleague.email %><br/>
          <b>Contact Number : </b><%= colleague.contactnum %><br/>
       </td>

       <td width="5%"><b><%= link_to(image_tag("edit2.png", :border => 0) , edit_colleague_path(colleague) )%></b></td>
       <td width="5%"><b><%= link_to(image_tag("remove2.png", :border => 0), colleague, confirm: 'Are you sure?', method: :delete )%></b></td>
     </tr>
     <tr><td colspan="6"><div class="table_hr"></div>
     </td></tr>
     <% end %>



   </tbody>
 </table>
 <br />

 <%= link_to(image_tag("add2.png", :border => 0) , new_colleague_path )%>
 <br/>
 <br/>
 <br/>
</div>
<br/>
<br/>
</div>
<br/>
<br/>
<br/>
