<%= link_to image_tag("icon_list.png", :alt => "Manage Colleagues"), colleagues_path %>
<%= link_to image_tag("icon_map.png",  :alt => "View Map"),  map_colleagues_path %>



<div class="hr"></div>
</div><p id="notice"><%= notice %></p>
<div style=" min-height: 50px">
</div>
<h2>Colleague Details </h2><br/>

<div style=" min-height: 20px">
</div>
<div style="min-width: 960px; overflow:auto;">
  <table  id="show_table" >
    <thead>
      <tr> 
       <%  if @colleague.attachment.blank? %>
       <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px " align="center">  <%= image_tag ("missing-medium.png") %></td>
       <% else %>
       <td style=" padding-right: 5px; padding-left: 5px" align="center"><%= image_tag @colleague.attachment.url(:medium) %></td>
       <% end %>
     </tr>

     <tr>

      <td style=" padding-right: 5px; padding-left: 5px; padding-bottom: 5px; min-width: 50px"><font size="3"><b>Name </b></font></td> 
      <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><%= @colleague.name %></td>
    </tr>

    <tr>
       
      <td style=" padding-right: 5px; padding-left: 5px; padding-bottom: 5px; min-width: 50px"><font size="3"><b>Role </b></font></td> 
      <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><%= @colleague.role %></td>
    </tr>


    <tr>
      <td style=" padding-right: 5px; padding-left: 5px;padding-bottom: 5px; min-width: 150px "><font size="3"><b>Office Location </b></font></td>  
      <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= @colleague.location %></td>
    </tr>


    <tr>
      <td style=" padding-right: 5px; padding-left: 5px; padding-bottom: 5px;min-width: 100px "><font size="3"><b>Date </b></font></td>     
      <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= @colleague.project %></td>
    </tr>

    <tr>
      <td style=" padding-right: 5px; padding-left: 5px; padding-bottom: 5px;min-width: 100px "><font size="3"><b>Email </b></font></td>     
      <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= @colleague.email %></td>
    </tr>

    <tr>
      <td style=" padding-right: 5px; padding-left: 5px; padding-bottom: 5px;min-width: 100px "><font size="3"><b>Contact Number </b></font></td>     
      <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= @colleague.contactnum %></td>
    </tr>


  </thead>

</table>
</div>

<div style=" min-height: 50px">
</div>


<%= link_to 'Back', colleagues_path, :class=> 'btn' %>

<%= link_to 'Edit', edit_colleague_path(@colleague), :class=> 'btn' %>
